/* ================================================= */
/* Header and search options */
/* ================================================= */

header {
  display: flex;
}

h1 {
  color: rgb(40, 50, 22);
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  margin-left: 30px;
  margin-top: 10px;
}

p {
  font-size: 20px;
  margin-top: 20px;
}

body {
  font-family: 'Mukta', sans-serif;
  background-color: rgb(230, 230, 230);
  margin: 15px;
}

#header-image {
  max-height: 110px;
  max-width: auto;
  display: inline;
  width: auto;
  height: auto;
  justify-items: center;
  margin-top: 20px;
}

.search-option {
  margin: 10px;
}

.search-element {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  margin-top: 25px;
}

#input, #categories {
  width: 65%;
  height: 30px;
}

#categories-element {
  border-right: solid rgb(40, 50, 22) 1px;
  border-left: solid rgb(40, 50, 22) 1px;
  width: 33%;
}

#name-element, #random-element {
  width: 33%;
}

.recipe-search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
form {
  justify-content: center;
}

#category-search {
  display: flex;
  padding: 2px;
}

button {
  font-family: inherit;
}

#results-button {
  background-color:  rgb(48, 57, 32);
  cursor: pointer;
  margin-top: 10px;
  color: white;
  border-radius: 5%;
}

#results-button:hover {
  background-color: rgb(66, 79, 44)
}

.search-button:hover {
  background-color: rgb(66, 79, 44);
  cursor: pointer;
}

.search-button {
  background-color: rgb(48, 57, 32);
  color: whitesmoke;
  border-radius: 10%;
  border: solid rgb(177, 177, 177) 1px;
  font-size: 15px;
}
#categories {
  margin-right: 10px;
}

hr {
  display: none;
}

#random {
  width: 150px;
}

/* ========================================================== */
/* Search Results */
/* ========================================================== */

.recipe-element {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 15px;
  padding: 15px;
}

.search-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 20px;
  margin-top: 25px;
  padding-top: 25px;
}

h4 {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
}

#input {
  margin-right: 5px;;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 5%;
}

/* MODAL STYLING */
/* Got this styling from */
/*https://www.w3schools.com/howto/howto_css_modals.asp */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*https://www.w3schools.com/howto/howto_css_modals.asp */

/* ======================================
Media Queries
====================================== */

@media only screen and (max-width: 800px) {
  .recipe-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #categories-element {
    border: none;
    width: auto;
  }
  hr {
    width: 90%;
    display: block;
  }
  #name-element, #random-element {
    width: auto;
  }

@media only screen and (max-width: 500px) {
  .search-element {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }

  p {
    font-size: 15px;
  }

  .recipe-element {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 15px;
  }
}